html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(255, 223, 80);
    padding: 10px 20px 0px;
}

a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
   
a:hover {
    text-decoration: underline;
    color: rgb(12, 12, 12);
}

.menu ul li {
    list-style-type: none;
}

.header {
    background-color: rgb(255, 230, 0);
    min-height: 150px;
    max-height: 300px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.table {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
table {
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    border: solid 1px rgb(253, 172, 50);
}
table thead th {
    border: solid 1px rgb(253, 172, 50);
    background-color: rgb(228, 174, 91);
}
table tbody tr:nth-child(even) td {
    background-color: rgb(250, 236, 114);
}
table tbody tr:hover td {
    background-color: rgb(212, 109, 25);
    cursor: pointer;
}

form {
    padding: 5px;
    justify-content: space-between;
    border: solid 1px;
    border-color: rgb(228, 174, 91);
    background-color: rgb(228, 174, 91);
}

button {
    background-color: rgb(212, 109, 25);
    border: solid 1px rgb(212, 109, 25);
    border-radius: 5px;
}

.footer {
    background-color: rgb(12, 12, 12);
    min-height: 150px;
    color: rgb(153, 153, 153);
    text-align: center;
}